<style>
    img.slider_style{
        height: 400px !important;
    }
</style>

<header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
            <div class="container-fluid justify-content-center align-items-center">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-left" id="navbarSupportedContent-4">
                    <ul class="navbar-nav">

                        <li class="nav-item  ml-4 mb-0">
                            <a href="/" class="nav-link  waves-effect waves-light dark-grey-text font-weight-bold "  
                                aria-haspopup="true" aria-expanded="false"> HOMEPAGE </a>
                        </li>
                        <li class="nav-item  ml-4  mb-0">
                            <a href="/post" class="nav-link  waves-effect waves-light dark-grey-text font-weight-bold"  
                                aria-haspopup="true" aria-expanded="false"> POST PAGE </a>
                        </li>
                        <li class="nav-item  ml-4  mb-0">
                            <a href="#" class="nav-link  waves-effect waves-light dark-grey-text font-weight-bold" 
                                 aria-haspopup="true" aria-expanded="false">ABOUT</a>
                        </li>

                    </ul>
                </div>

                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item ">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

            </div>

        </nav>
        <!-- /.Navbar -->
    <!-- /.Navbar -->

</header>