{% extends 'base.html' %}


{% block content %}



    <!--Blog section-->
    <section>
        <div class="container-fluid">
            <hr class="my-5">
            <div class="container">

                <!-- Cover photo -->
                <div class="row mb-2 mt-1">

                    <div class="col-md-12">

                        <!--Image-->
                        <div class="view">
                            <img src="{{post.thumbnail_img.url}}" class="img-fluid z-depth-1 wow fadeIn" data-wow-delay="0.2s">
                        </div>
                    <div class="float-right">
                        <a href="{{post.post_update_url}}">Update</a>
                        <a href="" class="mx-2">Delete</a>
                    </div>
                    </div>
                    
                </div>
                <!--/ Cover photo -->

                <!--Blog-->
                <div class="row mt-4 pt-3">

                    <!--Main listing-->
                    <div class="col-lg-9 col-12 mt-1">

                        <!--Section: Blog v.3-->
                        <section class="extra-margins pb-5 text-lg-left">

                            <!--Grid row-->
                            <div class="row mb-4">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <!--Title-->
                                    <h4 class="font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                                        <strong>{{post.title}}</strong>
                                    </h4>
                                    <hr>
                                    {{post.content|safe}}
                                    <!--Grid row-->

                                    <hr>

                                    <!--Grid row-->
                                    <div class="row mb-4 wow fadeIn" data-wow-delay="0.2s">

                                        <!--Grid column-->
                                        <div class="col-md-12 text-center">

                                            <h4 class="text-center font-weight-bold dark-grey-text mt-3 mb-3">
                                                <strong>Share this post: </strong>
                                            </h4>

                                            <button type="button" class="btn btn-fb btn-sm">
                                                <i class="fab fa-facebook-f left"></i> Facebook</button>
                                            <!--Twitter-->
                                            <button type="button" class="btn btn-tw btn-sm">
                                                <i class="fab fa-twitter left"></i> Twitter</button>
                                            <!--Google +-->
                                            <button type="button" class="btn btn-gplus btn-sm">
                                                <i class="fab fa-google-plus-g left"></i> Google +</button>

                                            <hr class="mt-5">
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                    <!--Comments-->
                                    <section>

                                        <!--Main wrapper-->
                                        <div class="comments-list text-center text-md-left">
                                            <div class="text-center my-5">
                                                <h3 class="font-weight-bold">Comments
                                                    <span class="badge indigo">{{post.comments.count}}</span>
                                                </h3>
                                            </div>
                                            {% for comment in post.get_comments %}
                                            <div class="row mb-5">
                                                <div class="col-sm-2 col-12 mb-3">
                                                    <img src="{{comment.post.author.profile_picture.url}}" class="avatar rounded-circle z-depth-1-half" alt="sample image">
                                                    <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg" class="avatar rounded-circle z-depth-1-half" alt="sample image"> -->
                                                </div>
                                                <!--/.Image column-->

                                                <!--Content column-->
                                                <div class="col-sm-10 col-12">
                                                    <a>
                                                        <h5 class="user-name font-weight-bold">{{comment.user.username}}</h5>
                                                    </a>
                                                    <div class="card-data">
                                                        <ul class="list-unstyled">
                                                            <li class="comment-date font-small">
                                                                <i class="far fa-clock-o"></i> {{comment.timestamp|timesince}} ago</li>
                                                        </ul>
                                                    </div>
                                                    <p class="dark-grey-text article">{{comment.content}}</p>
                                                </div>
                                                <!--/.Content column-->
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!--/.Main wrapper-->

                                    </section>
                                    <!--/Comments-->
                                    <hr>
                                    <!--Section: Leave a reply (Not Logged In User)-->
                                    {% if request.user.is_authenticated %}
                                    <section class="mb-4 wow fadeIn" data-wow-delay="0.2s">
                                        <h3 class="font-weight-bold text-center my-5">Leave a reply</h3>


                                        <!--Grid row-->
                                        <form action="." method="POST" class="commening-form">
                                            {% csrf_token %}
                                        <div class="row">
                                            
                                            <div class="col-12 mt-1">
                                                
                                                <div class="form-group basic-textarea rounded-corners shadow-textarea">

                                                    {{form}}
                                                </div>

                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-grey btn-sm">Submit</button>
                                                </div>
                                           
                                            </div>
                                        

                                        </div>
                                    </form>
                                        <!--Grid row-->

                                    </section>
                                    {% endif %}
                                    <!--/Section: Leave a reply (Not Logged In User)-->

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--/Grid row-->

                        </section>
                        <!--Section: Blog v.3-->

                    </div>
                    <!--Main listing-->

                    <!--Sidebar-->
                    {% include 'sidebar.html' with category_count=category_count popular=popular trends=trends %}
                    <!--Sidebar-->

                </div>
                <!--Blog-->

            </div>
    </section>
    <!--Blog section-->

    <!--Latest posts-->
    {% include 'footer_top.html' with older=older latest=latest %}
    
    {% endblock %}